@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  font-family: 'Robbins', sans-serif;
  margin: 0;
  background-color: #1c2333ff;
  height: 100%;
  margin-top: 2vh;
}

#gameDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-right: 10px;
}

table {
  border: 2px solid #75ff1a;
  border-radius: 10px;
  width: 98vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  font-size: 2.5vw;
}

tr {
  border: 2px solid #75ff1a;
  
}
tr:nth-child(even) {
  background-color: #ffffff13;
}

tr:hover {
  background-color: #ffffff2f;
}
td {
  text-align: center;
}

td {
  border-radius: 10px;
}

.buttonDiv {
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-name: open;
  font-size: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  user-select: none;
  -webkit-user-select: none;
  padding: 2vh;
  height: 6.5vw;
  cursor: pointer;
  color: #f7ffbd;
  border: 2px solid #75ff1a;
  border-radius: 10px;
  transition-duration: .1s;
  margin-bottom: 20px;

}

.buttonDiv:hover {
  box-shadow: 0 10px 20px #75ff1a;
  transform: translateY(-5px);
}

.buttonDiv:active {
  transform: translateY(3px);
  box-shadow: none;
}


